<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h1>HIHI</h1>
      <%= link_to "Post Page", posts_path %>
      <br>
      <%= link_to "Comment Page", comments_path %>
    </div>
    <%= current_user.to_json %>
    <%= current_user.to_yaml %>
    <% if current_user %>
      <%= button_to "Sign out", destroy_user_session_path, :method => :delete, :class => 'btn btn-success' %>
    <% else %>
      <%= button_to "Sign in", new_user_session_path, :'data-id' => 'asdfasd', :class => 'btn btn-success' %>
      <%= button_to "Sign up", new_user_registration_path, :method => :get, :class => 'btn btn-warning' %>
    <% end %>
  </div>
</div>