<h1>List of all comments</h1>

<% @comments.each do |comment| %>
  <%= link_to comment do %>
    <div>
      <%= comment.id %>
      <%= comment.title %>
      <%= comment.postID %>
      <%= comment.created_at %>
    </div>
  <% end %>
<% end %>

<%=  form_for @comment, :method => :post do |c| %>
  <%= c.label :title %>
  <%= c.text_field :title %>

  <%= c.label :postID %>
  <%= c.text_field :postID %>

  <%= c.submit "Submit" %>
<% end %>