<h1>List of all comments</h1>

<% @comments.each do |comment| %>
  <%= link_to comment do %>
    <div>
      <%= comment.id %>
      <%= comment.title %>
      <%= comment.post_id %>
      <%= comment.created_at %>
    </div>
  <% end %>
<% end %>

<%= link_to "back", root_path %>