<div>
  <%= @post.id %>
  <%= @post.title %>
  <%= @post.url %>
  <%= @post.user.email %>
  <%= @post.created_at %>
</div>

<%= button_to "Thumbs Up", "#", :id => "btn_vote", 'data-id' => @post.id %>
<h1 class="vote_count">
  <%= @post.post_votes.count %>
</h1>

<h1>Comments for post</h1>
<table class="table" data-toggle="table">
  <thead id="table-rows">
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Post ID</th>
      <th>Time</th>
      <th>Link</th>
      <th>User Email</th>
    </tr>
    <% @post.comments.each do |comment| %>
      <%= render :partial => 'posts/comment', :locals => {:comment => comment} %>
    <% end %>
  </thead>
</table>




<%= form_for @comment, :remote => true do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  
  <%= f.text_field :post_id, :value => @post.id, :hidden => true %>

  <%= f.submit "Submit Comment", :class => "btn btn-success", :id => "btn_comment"%>
<% end %>

<div id="error-message"></div>

<%= link_to "back", posts_path %>

